*, *:before, *:after{
    box-sizing: inherit;
    -webkit-user-select: inherit;
    user-select: inherit;
    -webkit-user-drag: inherit;
    -webkit-tap-highlight-color: inherit;
    backface-visibility: inherit;
}
* {
    margin: 0;
    padding: 0;
}
html {
    line-height: 1;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
main,canvas {
    display: block
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit
}
a {
    color: inherit;
    text-decoration: none
}
ol,ul {
    list-style: none
}
:root {
    --pad: max(20px, 4vmin);
    --c-text: hsl(0, 0%, 95%);
    --c-bg: hsl(0, 0%, 5%);
    background-color: var(--c-bg);
}
html,body{
    height: 100%;
    overflow: hidden;
}
.page{
    transition: opacity cubic-bezier(0.1, 0.4, 0.2, 1);
}
.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 1s, visibility 1s;
    -moz-transition: opacity 1s, visibility 1s;
    -o-transition: opacity 1s, visibility 1s;
    transition: opacity 1s, visibility 1s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1)
}
.hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s, visibility 1s;
    -moz-transition: opacity 1s, visibility 1s;
    -o-transition: opacity 1s, visibility 1s;
    transition: opacity 1s, visibility 1s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1)
}