:root{
    --main-bg-color: rgb(20, 20, 20);
}

* {
    margin: 0;
    padding: 0;
}

.fade {
    -webkit-animation:fade 2s linear infinite;
    -moz-animation:fade 2s linear infinite;
    animation:fade 2s linear infinite;
}

@-webkit-keyframes fade {
    0%   { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0;}
}
    
@-moz-keyframes fade {
    0%   { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0;}
}
    
@keyframes fade {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0;}
}

html {
    line-height: 1;
    box-sizing: border-box;
    user-select: none;
}

main,canvas {
    display: block
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0px;
}
.encabezadoSubtitulo{
padding-top: 0.8em;
}
.encabezado_nav ol{
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    row-gap: 15px;
    list-style: none;
}
.encabezado_nav a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
}

#Pagina {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--main-bg-color);
    color: #fff;
    white-space: nowrap;
    transition-property: background-color;
    transition-duration: .9s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1)
}
#Fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    z-index: 1;
}
#Encabezado{
    top: 5vh;
    left: 5vw;
    z-index: 5;
    position: relative;
    color: inherit;
}
#Canvas{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
