.canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1em;
    right: 1em;
    bottom: 1em;
    left: 1em;
}
.canvas-container div{
    width: 100%;
    height: 100%;
}