.encabezadoSubtitulo{
    font-weight: 300;
    font-size: clamp(15px, 2em, 1vw);
    margin-bottom: 0;
}
.encabezadoTitulo{
    font-weight: 100;
    font-size: clamp(35px, 5em, 2.5vw);
    margin-bottom: 0;
}
.encabezado_nav ol{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-top: 3em;
    row-gap: 15px;
    width: fit-content;
    list-style: none;
}
.encabezado_nav a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 0 0 transparent; /* Config inicial del glow */
    transition: text-shadow 0.3s ease; /* Transición suave */

    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
#Encabezado{
    left: calc(var(--pad)*1);
    top: calc(var(--pad)*1);
    width: fit-content;
    z-index: 5;
    position: relative;
    color: #fff;
    font-family: Raleway;
}
._texto:hover{
    text-shadow: 0 0 5px #fff;
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}  
  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease;
}